.Navbarcolorless{
    background-color:rgba(192, 192, 192,0.3);
}
.header{
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-left:0.5%;
    background-color: yellow;
}

.ImageNavbar{
    width: 2%;
    height: 2%;
    }